{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Url запроса</th>
            <th>Запрос</th>
            <th>Ответ</th>
            <th>Http статус ответа</th>
            <th>IP клиента</th>
            <th>Время и дата</th>
        </tr>

        {% for tableRow in table %}
            <tr>
                <td>{{ tableRow.context.requestUrl }}</td>
                <td>{{ tableRow.context.request }}</td>
                <td>{{ tableRow.context.response }}</td>
                <td>{{ tableRow.context.httpCode }}</td>
                <td>{{ tableRow.context.clientIp }}</td>
                <td>{{ tableRow.context.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
